@{
    ViewBag.Title = "Đặt hàng thành công";
}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success p-5">
                <i class="bi bi-check-circle-fill" style="font-size: 3rem; color: green;"></i>
                <h1 class="display-5">Đặt hàng thành công!</h1>
                <p class="lead">Cảm ơn bạn đã mua hàng. Chúng tôi sẽ xử lý đơn hàng của bạn sớm nhất.</p>
                <hr>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                    Quay về Trang chủ
                </a>
            </div>
        </div>
    </div>
</div>